.topbar_conteudo{
    background-color: #f1f1f1;

    position: fixed;
    top: 0;
    bottom: 0;

    width: 80%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}

.pagina_conteudo{
    margin-top: 10vh;
}

.botao_deslogar {
    background: none;
    border: none;
    color: #070b3b;
    font-size: 3.5vh;
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    padding: 0;
}

.botao_deslogar:hover {
    color: #f08830;
}

.separador {
    width: 1px;
    height: 60%;
    background-color: #ccc;
    align-self: center;
    margin-right: 20px;
}

.botao_carrinho{
    text-decoration: none;
    color: #070b3b;
    font-size: 3.5vh;

    display: flex;
    align-items: center;

    margin-right: 100px;

    &:hover{
        color: #f08830;
    }
}