.pagina_conteudo{
  width: 100%;
  height: 100%;

  padding: 10px;
}

.botao_deletar{
  border: none;
  background: none;

  & svg:hover{
    color: #f08830;
  }
}

.botao_editarQuantidade{
  border: none;
  background: none;

  & svg:hover{
    color: #f08830;
  }
}